@page "/factura"
@using TORO.Data.Response;

<MenuDisplay />
<hr>

@if(ShowDetails)
{
    <div class="row">
        <div class="col">
            <h3 class="card-title"><b>@TituloForm</b></h3>
        </div>
        <div class="col">
            <button class="btn btn-danger"
                @onclick="Back">
                <span class="oi oi-arrow-left"></span>
            </button>
        </div>
    </div>
    <!-- Mostrar detalles de la factura seleccionada -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in FacturaDetalles)
            {
                <tr>
                    <td>@detalle.Cantidad</td>
                    <td>@detalle.Animal.Arete @detalle.Animal.Raza @detalle.Animal.Sexo</td>
                    <td>$@detalle.Precio.ToString("N2")</td>
                </tr>
            }
            <h5>Total: $@FacturaDetalles.Sum(c=>c.Precio).ToString("N2")</h5>
            
        </tbody>
    </table>
}
else if(Facturas != null)
{
    <div class="row">
        <div class="col">
            <h3 class="card-title"><b>@TituloForm</b></h3>
        </div>
        <div class="col">
            <button 
                class="btn btn-outline-success" 
                @onclick='CrearFactura'>
                <span class="oi oi-plus"></span>
            </button>
        </div>
    </div>
    <!-- Mostrar la lista de facturas -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in Facturas)
            {
                <tr>
                    <th scope="row">@factura.Id</th>
                    <td>@factura.Cliente</td>
                    <td>$@factura.SubTotal.ToString("N2")</td>
                    <td>@factura.Fecha</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => MostrarDetalles(factura)">
                            <span class="oi oi-info"></span>
                            Detalles
                        </button>
                        <button @onclick="() => Eliminar(factura)" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    public string TituloForm => ShowDetails == false ?
    "Módulo de facturación" : "Reporte de facturaciones";
    public bool ShowDetails { get; set; } = false;
    public List<FacturaRespose> Facturas { get; set; } = new List<FacturaRespose>();
    public List<FacturaDetalleResponse> FacturaDetalles { get; set; } = new List<FacturaDetalleResponse>();
    public FacturaRespose? SelectedFactura { get; set; } // Factura seleccionada

    void CrearFactura()
    {
        urlHelper.NavigateTo("/factura/crear");
    }
    void Back()
    {
        ShowDetails = false;
    }
     async Task Consultar()
    {
        var resultado = await facturaServices.Consultar();
        if (resultado.Exitoso)
        {
            Facturas = resultado.Datos??new List<FacturaRespose>();
        }
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await Consultar();
    }

    public async Task Eliminar(FacturaRespose user)
    {
        var resultado = await facturaServices.Eliminar(user.ToRequest());
        if (resultado.Exitoso)
        {
            await Consultar();
            StateHasChanged();
        }
    }
    // Método para mostrar detalles de la factura seleccionada
    void MostrarDetalles(FacturaRespose factura)
    {
        SelectedFactura = factura;
        FacturaDetalles = factura.Detalles.ToList();
        ShowDetails = true;
    }
    
}